﻿@model Z01.Models.Note

@{
    string date = Model.Date.ToString("yyyy-MM-dd");
}

<form method="post" asp-action="Edit">
    @Html.ValidationSummary(true)
    <input type="hidden" asp-for="Id"/>
    <fieldset>
        <div>
            <div class="form-inline row" style="margin-top:15px; margin-left: 0;">
                <label class = "control-label">Title: </label>
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new { @class="form-control", @id="Title"}})
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="form-inline row" style="margin-top:10px; margin-left: 0;">
                @Html.EditorFor(model => model.IsMarkdown, new {htmlAttributes = new {@id="IsMarkdown"}})
                <label class="control-label">Markdown</label>
            </div>
            <div class="form-inline row" style="margin-top:10px; margin-left: 0;">
                <label class="control-label">Date: </label>
                @Html.EditorFor(model => date, new {htmlAttributes = new {@class="form-control", @id="Date", type="date"}})
            </div>
    
            <textarea class="form-control" rows="6" asp-for="Content" style="margin-top:10px;"></textarea>
            
            <ul class="list-group col-sm-4" style="max-height: 150px; overflow-y:auto;">
                @for (int i = 0; i < Model.Categories.Count(); ++i) 
                {
                    <li class="list-group-item">
                        @Html.TextBoxFor(item => Model.Categories[i], new { @class = "form-control", @readonly = "readonly" })
                    </li>
                }
            </ul>
            <div class="form-inline row" style="margin-top: 10px;">
                <input type="text" class="form-control" name="categoryName" id="categoryName">
                <input class="btn btn-primary" type="submit" name="button" value="Add">
                <input class="btn btn-default" type="submit" name="button" value="Remove">
                @Html.ValidationMessageFor(model => model.Categories)
            </div>
            <div class="form-group" style="margin-top:10px;">
                <input class="btn btn-primary" type="submit" name="button" value="Save"/>
                <a class="btn btn-default" asp-action="Index">Cancel</a>
            </div>
        </div>
    </fieldset>
</form>