﻿@model Z01.Models.ViewModels.NotesIndexViewModel

@{
    string fromDate = Model.Filter?.FromDate.ToString("yyyy-MM-dd");
    string toDate = Model.Filter?.ToDate.ToString("yyyy-MM-dd");
    string selectedCategory = Model.Filter?.Category;
    int currentPage = Model.CurrentPage;
    int pagesCount = Model.PagesCount;
    var categories = Model.Categories;
}

<body>
<div>
    <div class="form-inline row" style="margin-top:15px;">
        <div class="form-group col-md-9">
            <form method="get" asp-action="Filter">
                <span>From: </span>
                <input class="form-control" name="fromDate" type="date" value="@fromDate">
                <span>To: </span>
                <input class="form-control" name="toDate" type="date" value="@toDate">
                <span>Category: </span>
                <select class="form-control" name="category">
                    <option>{All}</option>
                    @foreach (string cat in categories)
                    {
                        if (cat == selectedCategory)
                        {
                            <option selected>@cat</option>
                        }
                        else
                        {
                            <option>@cat</option>
                        }
                    }
                </select>
                <input class="btn btn-primary" type="submit" value="Filter">
                <a class="btn btn-default" asp-action="ClearFilter">Clear</a>
            </form>
        </div>
    </div>
    <table class="table table-hover" style="margin-top: 10px;">
        <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        @if (Model != null)
        {
            foreach (Note note in Model.Notes)
            {
                string date = note.Date.ToString("dd/MM/yyyy");
                <tr>
                    <td>
                        @Html.DisplayFor(t => date)
                    </td>
                    <td>
                        @Html.DisplayFor(t => note.Title)
                    </td>
                    <td>
                        <a class="btn btn-default" asp-action="Edit" asp-route-title="@note.Title">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-title="@note.Title">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <div class="form-inline row" style="margin-left: 5px;">
        <a class="btn btn-primary" asp-action="New">New Note</a>
        @{
                if (currentPage > 0)
                {
                    int prevPage = currentPage - 1;
                    <a class="btn btn-default" style="margin-left: 300px;" asp-action="GoToPage" asp-route-page="@prevPage">Prev</a>
                }
                else
                {
                    <a class="btn btn-default" style="margin-left: 300px;" disabled>Prev</a>
                }
                <span>@(currentPage+1)/@pagesCount</span>
                if (currentPage + 1 != pagesCount)
                {
                    int nextPage = currentPage + 1;
                    <a class="btn btn-default" asp-action="GoToPage" asp-route-page="@nextPage">Next</a>
                }
                else
                {
                    <a class="btn btn-default" disabled>Next</a>
                }
            }
    </div>
</div>
</body>